<app-nav-admin></app-nav-admin>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5">Solicitud</h2>
            <hr>
        </div>
    </div>
    <div class="card" *ngIf="solicitud">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <b>Estado:</b> {{solicitud.nombreEstado}}
                </div>
                <div class="col-md-3">
                    <b>Punto:</b> {{solicitud.puntoEntrega}}
                </div>
                <div class="col-md-3">
                    <b>F. entrega:</b> {{(solicitud.fechaEntrega | date:'dd-MM-yyyy' +' '+ solicitud.horaEntrega) || 'sin asignar'}}
                </div>
                <div class="col-md-3" *ngIf="_auth.getData().role == 'admin'">
                    <button class="btn btn-secondary float-right" (click)="abrirModalSolicitud()">Cambiar estado</button>
                </div>
            </div>
        </div>
    </div>    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card" *ngIf="titular">
                <div class="card-header text-center titular">
                    <h5>Titular</h5>
                </div>
                <div class="card-body">
                    <p><span class="badge badge-primary">Afiliado</span> {{titular.numAfiliado}}</p>
                    <p><span class="badge badge-primary">CUIL</span> {{titular.cuil}}</p>
                    <p><span class="badge badge-primary">Nombre</span> {{titular.apellido +' '+ titular.nombre}}</p>
                    <p><span class="badge badge-primary">Domicilio</span> {{titular.domicilio}}</p>
                    <p><span class="badge badge-primary">Localidad</span> {{titular.localidad}}</p>
                    <p><span class="badge badge-primary">Email</span> {{titular.email}}</p>
                    <p><span class="badge badge-primary">CUIT</span> {{titular.cuitEmpresa}}</p>
                    <p><span class="badge badge-primary">Razón social</span> {{titular.razonSocialEmpresa}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngFor="let familiar of familiares">
            <div class="card">
                <div class="card-header text-center familiar">
                    <h5>Familiar</h5>
                </div>
                <div class="card-body">
                    <p><span class="badge badge-info">DNI</span> {{familiar.dni}}</p>
                    <p><span class="badge badge-info">Nombre</span> {{familiar.apellido +' '+ familiar.nombre}}</p>
                    <p><span class="badge badge-info">Nacimiento</span> {{familiar.fechaNacimiento | date:'dd-MM-yyyy'}}</p>
                    <p><span class="badge badge-info">Edad</span> {{familiar.edad}} años</p>
                    <p><span class="badge badge-info">Educación</span> {{familiar.nivelEducacion}}</p>
                    <p><span class="badge badge-info">Sexo</span> {{familiar.sexo == 'f'? 'Femenino' : 'Masculino'}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <div class="card" *ngIf="solicitud">
                <div class="card-body">
                    <b>Observaciones: </b> {{solicitud.observaciones}}
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-solicitud [solicitud]="solicitud" (success)="editSuccess($event)"></app-modal-solicitud>