 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <div *ngFor="let route of routes ; let i = index">
        <li class="breadcrumb-item" *ngIf="i != routes.length-1">&nbsp; <fa-icon [icon]="faAngleRight"></fa-icon> &nbsp;<a [routerLink]="route.url">{{route.title}}</a></li>
        <li class="breadcrumb-item" *ngIf="i == routes.length-1">&nbsp; <fa-icon [icon]="faAngleRight"></fa-icon> &nbsp;<a>{{route.title}}</a></li>
      </div>

    </ol>
  </nav>