<div class="modal"  id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-secondary">
          <h5 class="modal-title">Confirmación de solicitud</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="open">
          <h4>Datos de los hijos</h4>
          <hr>
          <table class="table table-bordered table-responsive-sm">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Edad</th>
                <th>Educación</th>
                <th>Talle</th>
              </tr>
              <tr *ngFor="let familiar of familiares">
                <td>{{familiar.nombre}}</td>
                <td>{{familiar.dni}}</td>
                <td>{{familiar.edad}}</td>
                <td>{{_data.obtenerNivelEducacion(familiar.nivelEducacion).valor}}</td>
                <td>{{_data.obtenerTalleGuardapolvo(familiar.talleGuardapolvo).valor}}</td>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="navigateTo('afiliados/listado-carga')">Editar datos</button>
            <button type="button" class="btn btn-secondary" (click)="confirmarSolicitud()">Confirmar solicitud</button>
        </div>
      </div>
    </div>
  </div>