<app-jumbotron titulo="Datos del titular" subtitulo="Deberás completar el formulario con los datos del titular"></app-jumbotron>
<app-breadcrumb [urls]="urls"></app-breadcrumb>
<form [formGroup]="forma" (ngSubmit)="submit()">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3>Completá con tus datos</h3>
                <hr />
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label for="numAfiliado">Número de afiliado</label>
                    <input type="number" class="form-control" id="numAfiliado" formControlName="numAfiliado" placeholder="Número de afiliado">
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="form-group">
                    <label for="cuil">CUIL</label>
                    <input type="number" class="form-control" id="cuil" formControlName="cuil" placeholder="Cuil">
                    <small class="form-invalid"
                        *ngIf="forma.controls['cuil'].errors?.required && forma.get('cuil').touched">*El campo es
                        requerido</small>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="Apellido">
                    <small class="form-invalid"
                        *ngIf="forma.controls['apellido'].errors?.required && forma.get('apellido').touched">*El campo
                        es requerido</small>
                </div>
            </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
                        <small class="form-invalid"
                            *ngIf="forma.controls['nombre'].errors?.required && forma.get('nombre').touched">*El campo
                            es requerido</small>
                    </div>
                </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" class="form-control" id="domicilio" formControlName="domicilio" placeholder="Domicilio">
                    <small class="form-invalid"
                        *ngIf="forma.controls['domicilio'].errors?.required && forma.get('domicilio').touched">*El campo
                        es requerido</small>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="localidad">Localidad</label>
                    <input type="text" class="form-control" id="localidad" formControlName="localidad" placeholder="Localidad">
                    <small class="form-invalid"
                        *ngIf="forma.controls['localidad'].errors?.required && forma.get('localidad').touched">*El campo
                        es requerido</small>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="number" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label for="celular">Celular</label>
                    <input type="number" class="form-control" id="celular" formControlName="celular" placeholder="Celular">
                    <small class="form-invalid"
                        *ngIf="forma.controls['celular'].errors?.required && forma.get('celular').touched">*El campo es
                        requerido</small>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                    <small class="form-invalid"
                        *ngIf="forma.controls['email'].errors?.required && forma.get('email').touched">*El campo es
                        requerido</small>
                    <small class="form-invalid"
                        *ngIf="forma.controls['email'].errors?.email && forma.controls['email'].value != ''">*El formato
                        es incorrecto</small>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label for="cuitEmpresa">CUIT empresa</label>
                    <input type="number" class="form-control" id="cuitEmpresa" formControlName="cuitEmpresa" placeholder="Cuit empresa">
                    <small class="form-invalid"
                        *ngIf="forma.controls['celular'].errors?.required && forma.get('celular').touched">*El campo es
                        requerido</small>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="form-group">
                    <label for="razonSocialEmpresa">Razón social</label>
                    <input type="text" class="form-control" id="razonSocialEmpresa" formControlName="razonSocialEmpresa" placeholder="Razón social empresa">
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary float-right" type="submit" [disabled]="forma.invalid">Continuar</button>
            </div>
        </div>
    </div>
</form>