.card.card-link {
    cursor: pointer;
}

.card.card-link:hover {
    background-color: rgba(0,83,135,0.05);
}

@media (max-width: 1000px) {

    .carousel-caption {
        width: 100% !important;
    }

    .img-carousel {
        height: 400px !important;
    }
}

div.card-body {
    height: 148px;
}

.carousel-caption {
    display: flex;
    position: absolute;
    left: auto;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 50%;
    align-items: center;
    background-color: rgba(1,1,1,0.3);
}

.texto {
    display: block !important; 
    padding: 50px;
    text-align: center !important;
}

.texto h5 {
    font-size: 2.5rem;
    color: #1c5198;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800 !important;
    text-transform: uppercase;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 100 !important;
}
