<div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <h3>Datos del Titular </h3>
        <hr/>
        <table class="table table-borderless table-responsive-sm">
            <tbody>
              <tr>
                <td>{{titular.nombre +" "+ titular.apellido}}</td>
                <td>{{'cuil ' + titular.cuil}}</td>
                <td>{{'email ' + titular.email}}</td>
                <td>{{'celular ' + titular.celular}}</td>
                <td class="text-right"><fa-icon [icon]="faEdit" class="fa-button" (click)="navigateTo('afiliados/registro-afiliado')"></fa-icon></td>
              </tr>
            </tbody>
          </table>
    </div>
        <div class="col-md-12 mt-4">
            <h3>Familiares cargados</h3>
            <hr/>
            <span class="form-invalid" *ngIf="familiares.length == 0">Sin familiares cargados...</span>
            <table class="table table-responsive-sm">
                <tbody>
                  <tr *ngFor="let familiar of familiares">
                    <td>{{familiar.nombre +" "+ familiar.apellido}}</td>
                    <td>{{familiar.dni}}</td>
                    <td>{{_data.obtenerNivelEducacion(familiar.nivelEducacion)?.valor}}</td>
                    <td class="text-right">
                      <fa-icon [icon]="faTrash" class="mr-3 fa-button" (click)="borrarFamiliar(familiar)"></fa-icon>
                      <fa-icon [icon]="faEdit" class="fa-button" (click)="editarFamiliar(familiar)"></fa-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-12 mt-4">
            <button class="btn btn-secondary float-right ml-4" [disabled]="familiares.length == 0" (click)="navigateTo('afiliados/elegir-punto-entrega')">Continuar</button>
            <button class="btn btn-primary float-right" (click)="navigateTo('afiliados/registro-familiar')">Agregar familiar</button>
        </div>
    </div>
</div>