/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    background: #fff !important;
    font-family: "Poppins", Arial, sans-serif;
}


/* Esconder flechas en input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


nav.bgd-primary, .bgd-primary {
    background: #005387 !important;
}

fa-icon.fa-button {
    cursor: pointer;
}

.color-primary {
    color: #005387 !important;
}

.btn {
    color: #fff !important;
    border-radius: 0 !important;
}

.btn-primary {
    background-color: #6c9ebe !important;
    border-color: #6c9ebe !important;
}

.btn-secondary {
    background-color: #005387 !important;
    border-color: #005387 !important;
}

small.form-invalid {
    color: #f8bd22; 
}

input, select {
    border-radius: 0 !important;
}

.modal-header.modal-header-secondary {
    background: #005387 !important;
    color: white !important;
}

.mt-6 {
    margin-top: 4rem !important;
}






