<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-12">
            <div class="card mt-6 mb-5">
                <div class="card-body">
                    <h3 class="text-center">INGRESAR</h3>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="">Usuario</label>
                            <input type="email" class="form-control" ngModel #email="ngModel" name="email" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input type="password" class="form-control" ngModel #password="ngModel" name="password" [ngModelOptions]="{standalone: true}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4" (click)="login(email, password)">Acceder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>