<footer class="footer mt-5 py-3">
    <div class="container">
      <span><a target="_blank" href="http://facebook.com/marianogabrielwilson">Desarrollado por Mariano G. Wilson</a></span>
      <a target="_blank" href="http://www.secab.com.ar">
        <fa-icon [icon]="faGlobe" size="2x" class="social float-right ml-3"></fa-icon>
      </a>
      <a target="_blank" href="https://www.facebook.com/secab">
        <fa-icon [icon]="faFacebook" size="2x" class="social float-right"></fa-icon>
      </a>
    </div>
  </footer>